
.page {
  position: absolute;
  height: 100%;
  width:100%;
  overflow: visible;
}
.game-1-area{    
  background:url(../images/Bakcground/Background_without_plates.png);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  position: relative;
  width:100%;
  min-width: 600px;
  height:85%;
  min-height: 200px;
}
.game-row{
  position: absolute;
  width: 100%;
  height: 50%;
}

.game-col-1{
  position: absolute;
  width: 25%;
  height: 100%;
  
}
.game-col-2{
  position: absolute;
  width: 25%;
  height: 100%;
  left:25%;
  background:url(../images/Bakcground/plate.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
}
.game-col-3{
  position: absolute;
  width: 25%;
  height: 100%;
  left:50%;
  background:url(../images/Bakcground/plate.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
}
.game-col-4{
  position: absolute;
  width: 25%;
  height: 100%;
  left:75%;
  background:url(../images/Bakcground/plate.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
}
.game-char{
  position: absolute;
  width: 50%;
  height: 100%;
  left:35%;
}
.score-disp{
  color: white;
  background-color: #333;
}
.game-fb{
  position: absolute;
  width: 20%;
  height: auto;
  left:3%;
}

.game-row-2{
  top:50%;
}


.game-nav-tile a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  height: 50%;
  margin: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.overlay-msg{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(17, 17, 17, 0.596);
  z-index: 10;
  font-size: large;
}
.restart-button{
  position: absolute;
  width: 25%;
  height: auto;
  z-index: 11;
  top: 37%;
  left:23%;
  font-size: large;
  opacity: 1;
}

.back-button{
  position: absolute;
  width: 25%;
  height: auto;
  z-index: 11;
  top: 37%;
  left:53%;
  font-size: large;
  opacity: 1;
}
.food{
  position: absolute;  
  width: 100%;
  height: 100%;
}
.back{
  position: absolute;
  top:5%;
  left:5%;  
  width: 40%;
  height: 55%;
}
.back a{
  position: absolute;
  width: 100%;
  height: 100%;
}
.food :hover{
  transform: scale(1.2);
}

.game-footer{
  position: absolute;
  height: 15%;
  width: 100%;
  top:85%;
  background-color: #333;
}
.game-health{
  background:url(../images/sprites/Health_1_pixel_smaller.png);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  position: absolute;
  width: 10%;
  height: 100%;
}
.game-progress-bar{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width: 90%;
  height: 90%;
  left:10%
}

@media only screen and (orientation: landscape) {
  .modal1 {
    display: none;
  }
}

.wrap{
  background-image: url('../images/Bakcground/hero-bg.jpg'); ;
			background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
			background-size:  cover;
      background-color: #999;
      height: 100%;
      width: 100%;
  
}

.heading{
  text-align: center;
  color: white;
}
.heading-dark{
  text-align: center;
  color: #333;
  font-size: larger;
}
.btn1{
  border-radius: 5px;
  display: inline-block;
  border-radius: 5px;
  border-style: solid;
  border-width:2px;
  border-color:#fff;
  padding: 20px 40px;
  background-color: rgb(46, 45, 45);
  color: #fff;
  text-transform: uppercase; 
  letter-spacing: 1px;
  
}


.rad{
  display: none;
  position: absolute;
}

.form{
  background-color: #36474f;
}

.form-element{
  padding: 20px 40px;
}

.btn-toolbar{
  text-align: center;
}​

.btn-group group{
  float: center;
}
.btn-light{
  border-radius: 2px;
  display: inline-block;  
  border-style: solid;
  border-width:2px;
  border-color:#333;
  padding: 20px;
  background-color: rgb(209, 204, 204);
  color: black;
  text-transform: uppercase; 
  letter-spacing: 1px;  
}


.cs{
 display: inline-block;
 justify-content: center; 
 padding-left: 5px;
 height: 20px;
}

input[type=radio] {
  opacity: 0;
  position: absolute;
}


.card1-h{
  text-align:center;
  background-color: #36474f;
  color: white;
  font-size: 35px;
  border-color: #098024;
  border-radius: 5px 5px 0px 0px;
}

.card1-b{
  background-color: aliceblue;
  padding: 20px;
}

.bmi-card{    
  width: 80%;  
  height: auto;
  margin: auto;  
  min-width: 310px;
  max-width: 485px;  
  background-color: #61727b;
  padding-bottom: 10px;
  border-radius: 5px 5px 0px 0px;
  
}

.form-card{    
  width: 80%;  
  height: auto;
  margin: auto;  
  min-width: 310px;
  max-width: 485px;  
  background-color: #61727b;
  padding-bottom: 10px;
  color:white;    
}

.bmi-container{
  position: relative;
  width:100%;  
  text-align: center;
  margin: auto;
}

.tg-btn-group{
  padding-top: 20px;
}

.btn1c{
  background-color:white;
  color:black;
  width: 45px !important;
}

.btn2c{
  background-color:white;
  color:black;
}

.active button{
  background-color: #098024 !important;
  color:white;
}


.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 0; 
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #c4bcbc; /* Fallback color */
  background-color: rgba(0, 0, 0, 0.336); /* Black w/ opacity */
}

.modal1-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
  min-width: 300px;
  background-color: white;
  color: #333;
}

.modal1-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
  display: none;
}

.modal1-content, #caption1 {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
  display: none;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.mod1{
  width: 25%;
  min-height: 35px;
  padding: 5px;
  color: #333;
  display: inline-block;
  font-size: large;
  text-align: center;
}

.modfull{
  width: 100%;
  min-height: 35px;
  padding: 5px;
  color: #333;
  font-size: large;
  text-align: center;
}

.info1{
  color: orange;
}

.danger1{
  color: red;
}

.success1{
  color: green;
}

.embed-container { position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; } 

.embed-container iframe, .embed-container object, .embed-container embed 
{ position: absolute; 
  top: 0; 
  left: 0; width: 100%; 
  height: 100%; }

.bod{
  background: url('../images/Bakcground/hero-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.bod1{
  background: url('../images/Bakcground/game-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.bod2{
  background: url('../images/Bakcground/intro-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.info-text{
  background-color: #282c34;
    
}

.info-text p {
  color:'white';
  font-size:larger;  
}

.btn-outline-info a:hover{
  color:'white'!important;
}
.btn-outline-info a{
  color:'#16a2b8'!important;
}

.game-2-area{    
  background:url(../images/Bakcground/Background_foods.png);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  position: relative;
  width:100vw;
  min-width: 600px;
  height:100vh;
  min-height: 200px;
}

#plate1{
  position: absolute;
  width:10%;
  height:18%;
  left:2.4%;
  top:58.6%;
  background:url(../images/Bakcground/Square_plate.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
}

#plate2{
  position: absolute;
  width:10%;
  height:18%;
  left:13%;
  top:56.6%;
  background:url(../images/Bakcground/Square_plate.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
}

#plate3{
  position: absolute;
  width:10%;
  height:18%;
  left:23.6%;
  top:59.56%;
  background:url(../images/Bakcground/Square_plate.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
}

#plate4{
  position: absolute;
  width:10%;
  height:18%;
  left:34.3%;
  top:56.7%;
  background:url(../images/Bakcground/Square_plate.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
}

#plate5{
  position: absolute;
  width:10%;
  height:18%;
  left:44.9%;
  top:58.6%;
  background:url(../images/Bakcground/Square_plate.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
}

#plate6{
  position: absolute;
  width:10%;
  height:18%;
  left:55.2%;
  top:60.4%;
  background:url(../images/Bakcground/Square_plate.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
}

#plate7{
  position: absolute;
  width:10%;
  height:18%;
  left:65.8%;
  top:56.4%;
  background:url(../images/Bakcground/Square_plate.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
}

#plate8{
  position: absolute;
  width:10%;
  height:18%;
  left:76.4%;
  top:58.6%;
  background:url(../images/Bakcground/Square_plate.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
}

#plate9{
  position: absolute;
  width:10%;
  height:18%;
  left:87%;
  top:56%;
  background:url(../images/Bakcground/Square_plate.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
}

#p1char{
  position: absolute;
  width:7%;
  height:12.3%;
  top:23%;
  left:2%;
  background:url(../images/Pieces/Kid_head.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
  
}

#p2char{
  position: absolute;
  width:7%;
  height:12.3%;
  top:23%;
  left:91%;  
  background:url(../images/Pieces/Robot_head.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
  
}

#p2p{
  position: absolute;
  width:7%;
  height:12.3%;
  top:23%;
  left:91%;  
  background:url(../images/Pieces/Astronaut_head.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
}

#dice1{
  position: absolute;
  width:9.3%;
  height:16.5%;
  top:15.3%;
  left:44.8%;
  cursor: pointer;
  background:url(../images/Dice_and_Buttons/Dice_1.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
}

#dice2{
  position: absolute;
  width:9.3%;
  height:16.5%;
  top:15.3%;
  left:44.8%;
  cursor: pointer;
  background:url(../images/Dice_and_Buttons/Dice_2.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
}

#dice3{
  position: absolute;
  width:9.3%;
  height:16.5%;
  top:15.3%;
  left:44.8%;
  cursor: pointer;
  background:url(../images/Dice_and_Buttons/Dice_3.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
}

#dice-gif{
  position: absolute;
  width:9.3%;
  height:16.5%;
  top:15.3%;
  left:44.8%;
  cursor: pointer;
  background:url(../images/Dice_and_Buttons/Rollin_dice.gif);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}


#back{
  position: absolute;
  width:9%;
  height:16%;
  top:4%;
  left:2.5%;
  background:url(../images/Dice_and_Buttons/Back.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

#yes{
  position: absolute;
  width:7.2%;
  height:12.8%;
  top:31.9%;
  left:37.5%;
  background:url(../images/Dice_and_Buttons/Yes.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

#no{
  position: absolute;
  width:7.2%;
  height:12.8%;
  top:31.9%;
  left:54.1%;
  background:url(../images/Dice_and_Buttons/No.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

#p1-health{
  position: absolute;
  width:22%;
  height:4%;
  top:36.4%;
  left:3.1%;
}

#p2-health{
  position: absolute;
  width:22%;
  height:4%;
  top:36.4%;
  left:74.9%;
}

#game-2-msg{  
  height: 100%; 
  width: auto;
  color: 'white';
  font-size: xx-large;
}

#game-2-comp-msg{
  height: 100%; 
  width: auto;
  color: 'white';
  font-size: xx-large;
  display: none;
}

#game-2-comp-move-msg{
  height: 100%; 
  width: auto;
  color: 'white';
  font-size: xx-large;
  display: none;
}

#game-2-comp-stay-msg{
  height: 100%; 
  width: auto;
  color: 'white';
  font-size: xx-large;
  display: none;
}

#game-2-msg-wrapper{
  position: absolute;
  width:40%;
  left:30%;
  top:85%;
  height: 10%;
 
  text-align: center;
}

#p1-start{
  position: absolute;
  height: 12.5%;
  width: 6.9%;
  top: 44.5%;
  left: 0%;
}

#p2-start{
  position: absolute;
  height: 12.5%;
  width: 6.9%;
  top: 44.5%;
  left: 7%;
}

#end{
  position: absolute;
  height: 12.5%;
  width: 6.9%;
  top: 76.43%;
  left: 89.9%;
}

.p-char{
  position: absolute;
  top: -65%;
  height: 100%;
  width: 100%;
}

.p-char2{
  position: absolute;
  top: 60%;
  height: 100%;
  width: 100%;
}

#end-flag{
  position: absolute;
  height: 12.5%;
  width: 6.9%;
  top: 76.43%;
  left: 87.2%;
  background:url(../images/Pieces/End_point.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
}

#win-scr-row-1{
  position: absolute;
  height: 58%;
  top:0%;
  left: 0%;
  width: 100%;
  text-align: center;
 
}

#win-scr-row-2{
  position: absolute;
  height: 38%;
  top:60%;
  left: 0%;
  width: 100%;
  text-align: center;
}

.win-img{  
  position: absolute;
  height: 90%;
  width: auto;
  left: calc(30%);
}